footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left:30px;
  background-color: #272822;

  overflow: hidden;
  color: #F3f3f3;
  z-index: 7;
/*  margin-top: 900px; */


}

footer p {
	font-size: 14px;
	opacity: .7;
}
